<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationUsageDescription</key>
	<string>We need your location to display nearby landmarks on the map. </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to display nearby landmarks on the map. </string>
	<key>NSExceptionDomains</key>
	<array/>
	<key>192.0.0.2</key>
	<string>YES</string>
</dict>
</plist>
